[Unit]
Description=Beryllium WebApi

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/web/beryllium-api
ExecStart=/home/pi/web/beryllium-api/Beryllium.WebApi
Restart=always

[Install]
WantedBy=multi-user.target